<div class="container" style="margin-top:100px;">
    <div class="row">
        <div class="col-md-4 ">
            <ul>
                {{#each burger}}
                {{#unless devoured}}
                <li id={{id}}>{{burger_name}}. <button class="devour" data-id={{id}}>Devour
                        it!</button><button class="remove" data-id={{id}}>Remove Burger</button></li>
                {{/unless}}
                {{/each}}
            </ul>

        </div>
        <div class="col-md-4 "><img class="img-fluid" src="/assets/images/logo.jpg"></div>
        <div class="col-md-4 ">
            <ul id="devourDiv">
                {{#each burger}}
                {{#if devoured}}
                <li>{{burger_name}}</li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row"></div>
    <div class="row mt-5">
        <div class="col-md-4 offset-md-4 ">
            <form class="form-inline justify-content-center" id="addburger">
                <div class="form-group mr-2">
                    <input id="newburger" type="text" class="form-control" placeholder="Add Burger to Devour">
                </div>
                <button type="submit" class="btn btn-primary"><strong>Add</strong></button>
            </form>
        </div>

    </div>

</div>